@model IEnumerable<Eliminar.Entità.Professore>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuogoNascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scuola)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuogoNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scuola.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
